[defaults]
inventory = /home/ansible/DevOps_Comprehensive_Project/Ansible/depi-proj/proj-with-roles/inventory.ini


[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False
